.main{
    background-color: aqua;
    height: 100vh;
}

.top-bar{
    background-color: rgb(204, 63, 240);
    height: 10vh;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container{
    background-color: green;
    height: 80vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 51, 67);
    height: 10vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.content-text{
    font-size: 30px;
}

/* circles */
.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(104, 104, 219);
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
}

.text-circle{
     font-weight: 600;
     color: gold;
     font-size: 15px;
}
